@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,400&family=Tilt+Neon&display=swap');
:root{
    --main-color: rgba(255, 255, 255, 1);
    --side-color-1: rgba(255, 229, 105, .7);
    --side-color-2: rgba(200, 200, 200, .7);
    --side-color-3: rgba(100, 100, 100, 1);
    --font-color: rgba(172, 0, 0, 1);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container{
    position: relative;
    background-color: var(--main-color);
    z-index: 1;
}

/* heading text style */
h1, h2, h3,h4{
    text-transform: capitalize;
    color: var(--font-color);
}

h2{
    border-bottom: .2rem solid var(--side-color-1);
    width: fit-content;
    margin:auto;
}

/* header section style start */
header{
    display: flex;
    flex-direction: row;
    height: 15vh;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding: 0 2rem;
    z-index: 10;
    background-color: var(--main-color);
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 -.2rem 0 var(--side-color-1) inset;
}

header .icon{
    width: 8rem;
    flex-basis: 10%;
}
.main-header{
    /* layout self */
    flex-basis: 90%;
    
    /* box layout */
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    gap: 2rem;
}

.main-header nav a{
    padding: .5rem 3rem;
    text-decoration: none;
    color: var(--font-color);
}
.main-header nav img{
    display: none;
    padding: .3rem;
}

.main-header nav a:hover,
.main-header nav img:hover{
    background-color: var(--side-color-1);
    font-weight: bold;
}

.main-header .nav-bar{
    display: none;
}

/* header section style end */

/* content section style start */
.content{
    width: 100%;
    text-align: center;
}

.content main{
    padding-top: 17vh;
}

    /* slider style start */
.content main .slider{
    background-color: var(--side-color-2);
    height: 60vh;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
}
.content main .slider .lampung-image{
    height: 100%;
}

.content main .slider h4{
    position: absolute;
    bottom: 1.6rem;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: var(--side-color-1);
    padding: 1rem;
    width: 100%;
}

    /* slider style end */

.content main h3{
    width: fit-content;
    border-bottom: .2rem solid var(--side-color-1);
    margin: auto;
    line-height: 2rem;
}
/* content section style end */


/* article style start */
    
.content .row{ /* article & aside box layout */
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.content .row article{
    min-height: 100vh;
    text-align: center;
    flex-basis: 75%;
}

.content .row article section{
    padding-top: 17vh;
}

.content .row article section ul{
    margin: 1rem;
    box-shadow: 0 0 1rem var(--side-color-1);
    padding: 1rem;
}

.content .row article section ul li{
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}
.content .row article section ul li h3,
.content .row article section ul li p{
    text-align: left;
    margin: 1rem;
}
.content .row article section ul li img{
    width: 80%;

}


    /* about section style start */
.content .row article .about{
    margin-bottom: 3rem;
}

.content .row article .about .detail{
    display: flex;
    box-shadow: 0 0 1rem var(--side-color-1);
    padding: 1rem;
    justify-content: space-between;
    height: 100%;
    align-items: stretch;
    margin: 1rem;
    gap: 1rem;
}
.content .row article .about .detail iframe{
    flex-grow: 1;
    min-height: 30rem;
    min-width: 30rem;;
}
.content .row article .about .detail ul{
    flex-grow: 1;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.content .row article .about .detail ul li{
    margin: 0;
    padding: 0;
}
    /* about section style end */

/* article style end */

/* aside style start */
.content .row aside{
    margin-top: 17vh;
    flex-basis: 25%;
    box-shadow: 0 0 1rem var(--side-color-1);
    border-radius: 1rem;
    height: fit-content;
    padding: 1.5rem;
}

.content .row aside img{
    width: 3rem;
    margin: 1rem;
}

.content .row aside ul li{
    text-align: left;
}
.content .row aside ul li span{
    font-weight: bold;
}

/* aside style end */


/* footer style start */
footer{
    text-align: center;
    height: 10vh;
    line-height: 10vh;
    background-color: var(--side-color-1);
}
/* footer style end */



.slide-in{
    animation: slide-in 1s;
}
.slide-out{
    animation: slide-out 1s;
}
.swipe-in{
    animation: swipe-in 1s forwards;
}
.swipe-out{
    animation: swipe-in 1s backwards;
}

@keyframes slide-in {
    0%{
        transform: translateX(-100rem);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slide-out {
    to{
        transform: translateX(100rem);
    }
}
@keyframes swipe-in {
    from{
        transform: translateX(30rem)

    }
    to{
        transform: translateX(0)
    }
}

/* media Query */

@media (max-width: 1400px) {
    html{
        font-size: 85%;
    }
}

@media (max-width: 1200px) {
    html{
        font-size: 70%;
    }
    .main-header nav a{
        padding: .3rem 1rem;
    }
}
@media (max-width: 768px) {
    html{
        font-size: 70%;
    }

    .main-header{
        flex-direction: row;
    }

    .main-header .caption{
        flex-grow: 1;
        text-align: center;
    }
    
    .main-header nav{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--side-color-3);
        position: absolute;
        height: 100vh;
        top: 0;
        right: 0;
        width: 30rem;
        padding: 7rem 1rem;
        transform: translateX(30rem);
    }
    
    .main-header nav a{
        border-bottom: .1rem solid var(--font-color);
    }
    .main-header nav img{
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: block;
    }
    .main-header .nav-bar{
        display: block;
    }

    .content .row{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .content .row aside{
        flex-basis: 50%;
    }

    .content .row article .about .detail{
        flex-wrap: wrap;
    }
}
@media (max-width: 576px) {
    html{
        font-size: 65%;
    }
    .content .row aside{
        flex-basis: 100%;
    }
}